.Container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
    color: white;
    justify-content: space-evenly;
    gap: 20px;
    width:fit-content;
    padding: 20px;
}
.RED{
    background-color: red;
    width: 400px;
    height: 150px;
}
.GREEN{
    background-color: green;
    width: 400px;
    height: 150px;
}
.BLUE{
    background-color:blue;
    width: 400px;
    height: 150px;
}
.BROWN{
    background-color:brown;
    width:400px;
    height: 150px;
}
@media screen and (max-width:768px) {
   .Container{
    grid-template-columns: 1fr;
    gap: 20px;
    width: fit-content;
   } 
}